strong {
  font-weight: bold;
}

html {
  line-height: 1.4;
  font-size: 10px;
  overflow-x: hidden;

  @media #{$tablet} {
    font-size: 12px;
  }

  @media #{$desktop}{
    font-size: 16px;
  }


  &.-opened{
    overflow: hidden;
  }
}
