.fera-module{
  @include rem(margin-bottom, 60px);
  @include responsive-property(padding, $s: 30, $t: 40, $d: 60);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,.1);
}

strong {
  font-weight: 600;
}

/*=====  End of Base  ======*/

/*===============================
=            Modules            =
===============================*/

/*==============================
=            Titles            =
==============================*/

.title-guide {
  @include rem(font-size, 40px);
  @include rem(margin-bottom, 80px);
  font-weight: 300;
  text-transform: uppercase;

  &::before {
    counter-increment: title;
    // content: counter(title, decimal-leading-zero) " - ";
  }

}
/*=====  End of Modules  ======*/

.fera-ag_container {
  text-align: center;
  background-color: #fbfbfb;
  padding: 10px 0px 15px;
}

.fera-ag_container .divider {
  width: 2px;
  height: 30px;
  background-color: #ccc;
  display: block;
  margin: 0 1.5em;
  vertical-align: middle;
  background-color: transparent;
}

.fera-ag_container p {
  text-align: center;
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-weight: 300;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.fera-ag_container strong {
  font-weight: 900;
  font-size: 1.2em;
}

.fera-ag_container a.brand {
  text-decoration: none;
  display: inline-block;
  /* padding: .4em; */
  margin-left: 0.4em;
  color: inherit;
  border: 2px solid transparent;
  font-size: 0.9em;
  position: relative;
  top: 2px;
}

.fera-ag_container a {
  color: black!important;
}

.fera-ag_container a:hover {
  color: #572169!important;
}

.fera-ag_container a:hover .fera-ag_icon {
  transform: scale(1);
  filter: grayscale(0%) brightness(100%);
}

.fera-ag_icon {
  width: 37px;
  height: 49px;
  filter: grayscale(100%) brightness(-200%);
  background: transparent url('https://fera.ag/assinatura/autoral/logo.png') 0 0 no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.6em;
  transition: all 500ms cubic-bezier(0,.81,0,.98);
  transform: scale(.9);
  will-change: transform, filter;
}


/*==================================
=            Variations            =
==================================*/

.fera-ag_container.-invert {
  background: black;
}

.fera-ag_container.-invert p {
  color: white;
}

.fera-ag_container.-invert .fera-ag_icon {
  filter: grayscale(100%) brightness(1000%);
}

/*=====  End of Variations  ======*/


@media (min-width: 1024px) {

  .fera-ag_container .divider {
    display: inline-block;
    background-color: #ccc;
  }

}

