.icon{
  @extend .ir;
}

.icon-car{
  background: url('../images/icon-car.png');
  width: 39px;
  height: 26px;
}

.icon-car-hand{
  background: url('../images/icon-car-hand.png');
  width: 36px;
  height: 26px;
}

.icon-clock{
  background: url('../images/icon-clock.png');
  width: 34px;
  height: 34px;
}

.icon-garage{
  background: url('../images/icon-garage.png');
  width: 31px;
  height: 29px;
}

.icon-globe{
  background: url('../images/icon-globe.png');
  width: 37px;
  height: 37px;
}

.icon-pin{
  background: url('../images/icon-pin.png');
  width: 22px;
  height: 31px;
}