.fera-rich-content {
  p{
    @include rem(font-size, 16px);
    color: color('gray');
  }
  li{
    @include rem(font-size, 16px);
    color: color('gray');
  }

  blockquote{

    p{
      @include rem(font-size, 20px);
      text-transform: uppercase;
      font-weight: bold;
      color: color('gray');
    }
  }
}
