.owl-dots {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  @include rem(margin-top, 10px);

  .owl-dot {
    @include rem(width, 10px);
    @include rem(height, 10px);
    background-color: color('patio');
    border-radius: 100px;
    @include rem(margin, 5px);
    opacity: 0.5;

    &.active {
      opacity: 1;
    }

  }

}