/*==============================
=            Colors            =
==============================*/

$colors: (
  'black': #000,
  'white': #fff,
  'cornflower-blue': #4E5D9D,
  'blue': #0072bc,
  'gray': #788888,
  'arsenic': #535353,
  'darker': #404040,
  'halloween': #54246a,
  'andromeda': #733e97,
  'night': #315aa9,
  'sky': #3186c7,
  'sunshine': #f3ac47,
  'pink': #da1e77,
  'salmon': #d7484c,
  'magikarp': #f14348,
  'darkness': #333333,
  'mellow': #767676,
  'nature': #06d25a,
  'void': #eeeeee,
  'baby': #27b9f5,
  'pumpkin': #fc7700,
  'patio': #2ac1cc,
  'midnight': #054d57,
  'serpent': #34c0cb
);

$fera-rainbow: linear-gradient(to right,#f6ad49 0,#e85b6b 16%,#dc1c78 32%,#743f98 50%,#56246b 69%,#305baa 85%,#3187c8 99%);

/*=====  End of Colors  ======*/

/*================================
=            Defaults            =
================================*/

$rounded: 5px;

$large-desktop: "(min-width: 1600px)";

/*=====  End of Defaults  ======*/

/*==============================
=            Layout            =
==============================*/

$column-gutter: 25px;

/*=====  End of Layout  ======*/


$serif: 'Noto Serif', serif;
$primary: "Open Sans", sans-serif;
$secondary: "Lato", sans-serif;
$terciary: 'Roboto Condensed', sans-serif;